{% extends "default/layout/layout.html" %}
{% load static %}

{% block title %} Material Handling, Industrial Supplies, Tools, Safety Equipment & More {% endblock %}
{% block canonical_url %}{{request.scheme}}://{{request.META.HTTP_HOST}}{{request.path}}{% endblock %}

{% block ld_json %}
{{home_schema|safe}}
{% endblock %}

{% block content %}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li><a href="#">Add New Product</a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<h1>Add New Product</h1>
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-primary">Save Product</button>
					</form>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
