{% extends "default/layout/layout.html" %}
{% load static %}

{% block title %} Material Handling, Industrial Supplies, Tools, Safety Equipment & More {% endblock %}
{% block canonical_url %}{{request.scheme}}://{{request.META.HTTP_HOST}}{{request.path}}{% endblock %}

{% block ld_json %}
{{home_schema|safe}}
{% endblock %}

{% block content %}
    <!-- hero area -->
	<br>
    <br>
	<div class="lg:container">
        <div class="w-full flex items-center">
            <!-- Slider main container -->
            <div class="swiper banner-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide bg-[#FFDADF]">
                        <div class="container">
                            <div class="sm:flex items-center justify-center">
                                <div class="w-full sm:w-1/2 px-3">
                                    <div class="max-w-full py-24 lg:py-28 lg:pl-8  text-center sm:text-left">
                                        <p class="text-base mb-2 text-secondary">Get up to 50% off Today only</p>
                                        <h1
                                            class="text-[36px] sm:text-[29px] md:text-[36px] xl:text-[40px] leading-10 text-secondary font-medium mb-4">
                                            iPhone 11 Pro Max </h1>
                                        <div class="mb-1 leading-[22px] font-medium">
                                            <span class="text-primary mr-1">$450.00</span>
                                            <span class="text-sm line-through text-[#687188]">$550.45</span>
                                        </div>
                                        <div class="mt-[30px]">
                                            <a class="primary-btn" href="#" tabindex="-1">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-3 sm:w-1/2 hidden sm:block">
                                    <div class="w-full flex items-center justify-end lg:justify-center">
                                        <img src="{% static 'assets/images/iphone.png' %}" class="max-h-[280px] object-right"
                                            alt="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide bg-[#CCCCCC]">
                        <div class="container">
                            <div class="sm:flex items-center justify-center">
                                <div class="w-full sm:w-1/2 px-3">
                                    <div
                                        class="max-w-full py-24 lg:py-28 lg:pl-8 xl:pl-[95px] text-center sm:text-left">
                                        <p class="text-base mb-2 text-secondary">Get up to 50% off Today only</p>
                                        <h1
                                            class="text-[36px] sm:text-[29px] md:text-[36px] xl:text-[40px] leading-10 text-secondary font-medium mb-4">
                                            iPhone 12 Pro Max </h1>
                                        <div class="mb-1 leading-[22px] font-medium">
                                            <span class="text-primary mr-1">$450.00</span>
                                            <span class="text-sm line-through text-[#687188]">$550.45</span>
                                        </div>
                                        <div class="mt-[30px]">
                                            <a class="primary-btn" href="#" tabindex="-1">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="px-3 sm:w-1/2 hidden sm:block">
                                    <div class="w-full flex items-center justify-end lg:justify-center">
                                        <img src="{% static 'assets/images/iphone-12.png' %}" class="max-h-[280px] object-right"
                                            alt="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide bg-[#7cc8f8ba]">
                        <div class="container">
                            <div class="sm:flex items-center justify-center">
                                <div class="w-full sm:w-1/2 pr-3">
                                    <div
                                        class="max-w-full py-24 lg:py-28 lg:pl-8 xl:pl-[95px] text-center sm:text-left">
                                        <p class="text-base mb-2 text-secondary">Get up to 50% off Today only</p>
                                        <h1
                                            class="text-[36px] sm:text-[29px] md:text-[36px] xl:text-[40px] leading-10 text-secondary font-medium mb-4">
                                            Apple iPhone XR</h1>
                                        <div class="mb-1 leading-[22px] font-medium">
                                            <span class="text-primary mr-1">$450.00</span>
                                            <span class="text-sm line-through text-[#687188]">$550.45</span>
                                        </div>
                                        <div class="mt-[30px]">
                                            <a class="primary-btn" href="#" tabindex="-1">SHOP NOW</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-3 w-1/2 hidden sm:block">
                                    <div class="w-full flex items-center justify-end lg:justify-center">
                                        <img src="{% static 'assets/images/iphone-xr.png' %}" class="max-h-[280px] object-right"
                                            alt="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev hidden xl:block collection-banner"></div>
                <div class="swiper-button-next hidden xl:block collection-banner"></div>

                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- hero area end -->
	<!-- shop list view -->
	<div x-data="{isOpen:false}" class="container pb-14 relative grid grid-cols-4  gap-6">

		<div class="col-span-4 lg:col-span-6">
			<div class="mt-6">
				{% for product in products %}
					<div class="border border-[#E9E4E4] mb-[30px] grid grid-cols-3">
						<div class="col-span-3 md:col-span-1 md:pr-3">
							<div class="bg-[#fafafa] min-h-[260px] p-5 flex items-center justify-center">
								<div class="lp_img">
									<a href="{% url 'catalog:product_detail' product.id %}">
										{% if product.image %}
											<img src="{{product.image.full_url.url}}"
											class="w-[200px] h-[200px] object-contain flex-shrink-0" alt="product">
										{% else %}
											<img src="{% static '/img/no-image.jpg' %}"
											class="w-[200px] h-[200px] object-contain flex-shrink-0" alt="product">
										{% endif %}
									</a>
								</div>
							</div>
						</div>
						<div class="col-span-3 md:col-span-2 pl-3">
							<div class="py-5 pr-[30px]">
								<a href="{% url 'catalog:product_detail' product.id %}">
									<h5 class=" text-xl leading-[33px] mb-1.5 text-[#000] font-medium">{{ product.name }}</h5>
								</a>

								<div>
									<div class="font-medium">
										<span class="text-primary text-lg font-medium leading-[22px] mr-[5px]">$45.00</span>
										<span class="text-[#687188] text-base font-medium line-through">$55.45</span>
									</div>

									<div class="flex items-center justify-start gap-[9px]">
										<div class="flex items-center gap-1">
											<span class="text-[#F6BC3E]"><svg width="17" height="17" viewBox="0 0 24 24">
													<path fill="currentColor"
														d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z">
													</path>
												</svg></span>
											<span class="text-[#F6BC3E]"><svg width="17" height="17" viewBox="0 0 24 24">
													<path fill="currentColor"
														d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z">
													</path>
												</svg></span>
											<span class="text-[#F6BC3E]"><svg width="17" height="17" viewBox="0 0 24 24">
													<path fill="currentColor"
														d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z">
													</path>
												</svg></span>
											<span class="text-[#F6BC3E]"><svg width="17" height="17" viewBox="0 0 24 24">
													<path fill="currentColor"
														d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z">
													</path>
												</svg></span>
											<span class="text-[#F6BC3E]"><svg width="17" height="17" viewBox="0 0 24 24">
													<path fill="currentColor"
														d="m5.825 22l1.625-7.025L2 10.25l7.2-.625L12 3l2.8 6.625l7.2.625l-5.45 4.725L18.175 22L12 18.275Z">
													</path>
												</svg></span>
										</div>
										{% if product.brand.name == "Other" %}
											<li>Product Brand: {{ product.other_brand }}</li>
										{% else %}
											<li>Product Brand: {{ product.brand }}</li>
										{% endif %}
										<p><small class="text-muted">Last updated {{ product.updated|timesince }} ago</small></p>
										<p class="text-sm text-[#687188]">(150)</p>
									</div>
								</div>

								<p class="text-base leading-6 mt-3 mb-4 text-secondary">
									{{ product.short_description|truncatechars:100 }}
								</p>
								<div class="mt-4 flex gap-4">
									<a href="shopping-cart.html"
										class="primary-btn px-[15px] py-2.5 rounded-[5px] min-w-[135px] mr-2.5 font-medium text-[13px] flex items-center gap-2 group">
										<span class="text-white group-hover:text-primary transition duration-300"><svg
												width="14" height="14" viewBox="0 0 16 16">
												<path fill="currentColor"
													d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607L1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479l9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4a2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4a2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2a1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2a1 1 0 0 1 0-2z" />
											</svg></span>
										Add to Cart
									</a>
									<a href="wishlist.html"
										class="primary-btn px-[15px] py-2.5 rounded-[5px] min-w-[135px] mr-2.5 font-medium text-[13px] bg-white hover:bg-primary text-primary hover:text-white">
										<span class="text-primary group-hover:text-white transition duration-300"></span>
										Wishlist
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			{% comment %} <div class="mt-5 flex items-center justify-center gap-2.5">
				<button
					class="w-[30px] h-[30px] leading-[30px] text-[15px] text-center bg-primary text-white">1</button>
				<button
					class="w-[30px] h-[30px] leading-[30px] text-[15px] text-center border border-[#E9E4E4] text-secondary hover:text-white hover:bg-primary transition duration-300">2</button>
				<button
					class="w-[30px] h-[30px] leading-[30px] text-[15px] text-center border border-[#E9E4E4] text-secondary hover:text-white hover:bg-primary transition duration-300">3</button>
				<button
					class="w-[30px] h-[30px] leading-[30px] text-[15px] text-center border border-[#E9E4E4] text-secondary hover:text-white hover:bg-primary transition duration-300">4</button>
				<button
					class="w-[30px] h-[30px] leading-[30px] text-[15px] flex items-center justify-center border border-[#E9E4E4] text-secondary hover:text-white hover:bg-primary transition duration-300">
					<svg width="15" height="15" viewBox="0 0 32 32">
						<path fill="currentColor"
							d="M21.188 9.281L19.78 10.72L24.063 15H4v2h20.063l-4.282 4.281l1.407 1.438L27.905 16z" />
					</svg>
				</button>
			</div> {% endcomment %}
		</div>
	</div>
	<!-- shop list view end-->
{% endblock content %}