{% extends "default/layout/layout.html" %}
{% load static %}

{% block title %} Change Password {% endblock %}
<!-- site__body -->
{% block content %}
<!-- site__body -->
<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="{{base_url}}/static/default/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'account:dashboard' %}">My Account</a>
                            <svg class="breadcrumb-arrow" width="6px" height="9px">
                                <use xlink:href="{{base_url}}/static/default/images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>My Account</h1>
            </div>
        </div>
    </div>
    <form method="post" id="login-form" action="{% url 'account:change-password' %}">
        {% csrf_token %}
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-3 d-flex">
                        {% include "default/account/left-menu.html" with class='password' %}
                    </div>
                    <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                        <div class="card">
                            <div class="card-header">
                                <h5>Change Password</h5>
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-body">
                                {% include "default/shared/message.html" with messages=messages %}
                                <div class="row no-gutters">
                                    <div class="col-12 col-lg-7 col-xl-6">
                                        <div class="form-group">
                                            <label for="id_password">{{form.password.label_tag}}</label>
                                            <input type="password" class="form-control" name="{{ form.password.name }}"
                                                id="id_password"
                                                placeholder="Current Password"
                                                required
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="id_new_password">{{form.new_password.label_tag}}</label>
                                            <p class="password-information text-danger">
                                                Your password must be at least 8 characters long.<br/>
                                                Password contains at least one number.<br/>
                                                Password contains at least one special symbol(&-_\.@#$).<br/>
                                                Password contains at least one lowercase and one uppercase character.
                                            </p>
                                            <input type="password" class="form-control" name="{{ form.new_password.name }}"
                                                id="id_new_password"
                                                placeholder="New Password",
                                                data-parsley-minlength="8"
                                                data-parsley-required-message="This value is required.."
                                                data-parsley-uppercase="1"
                                                data-parsley-lowercase="1"
                                                data-parsley-number="1"
                                                data-parsley-special="1" 
                                                data-parsley-required
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="id_repeat_password">{{form.repeat_password.label_tag}}</label>
                                            <input type="password" class="form-control" name="{{ form.repeat_password.name }}"
                                                id="id_repeat_password"
                                                placeholder="Reenter New Password"
                                                data-parsley-minlength="8"
                                                data-parsley-required-message="This value is required.."
                                                data-parsley-equalto="#id_new_password"
                                                data-parsley-equalto-message="Password and Repeat password should be same."
                                                data-parsley-required
                                            />
                                        </div>
                                        <div class="form-group mt-5 mb-0">
                                            <button class="btn btn-primary" type="submit">Change</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- site__body / end -->
{% endblock content %}
<!-- site__body / end -->
{% block extrastyle %}
<link href="{% static 'vendor/parsley/parsley.css' %}" rel="stylesheet" type="text/css" />
{% endblock extrastyle %}
{% block extrajs %}
<script src="{% static 'vendor/parsley/parsley.min.js' %}"></script>
<script src="{% static 'js/custom-parsley.js' %}"></script>
{% endblock extrajs %}